Package: com.vardhanpatel.ccnamer
Name: CCNamer
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vardhan Patel
Author: VardhanPatel
Section: Tweaks
Version: 0.0.1-11
Installed-Size: 184
