Package: com.gilshahar7.cclabel
Name: CCLabel
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
Version: 0.0.1-11
Installed-Size: 184
