Architecture: iphoneos-arm
Author: vardhanpatel
Depiction: https://github.com/vardhanpatel/vardhanpatel.github.io
Description: Customize your CCpanel
Maintainer: vardhanpatel  <vardhanpatel1999@gmail.com.com>
Name: CCNamer
Package: com.FinalRepo.CCNamer
Section: Tweaks
Version: 1.0
