Architecture: iphoneos-arm
Author: vardhanpatel
Depiction: https://github.com/vardhanpatel/vardhanpatel.github.io
Description: Adds Icon Images
Maintainer: vardhanpatel  <vardhanpatel1999@gmail.com.com>
Name: icons
Package: com.vardhanpatel.icons
Section: Tweaks
Version: 1.0
